{% extends 'base.html.twig' %}

{% block body %}

<h1>Hallo {{ user.name}}</h1>

<p>Heute ist {{ weekday }}</p>

<ul>

    {% for item in fruits %}
        <li>{{ item }}</li>
    {% endfor %}

</ul>

{% endblock %}
